@model shop.Models.Computer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    <li><a class="active" href="/Computers">Главная</a></li>
    <li><a href="/Computers/AboutCompany">О компании</a></li>
</ul>
<h2>Новый товар</h2>
<head>
    <style>
        body {
            background-color: #9999c8;
        }

        .ui-jqgrid .ui-pg-input {
            height: 20px;
        }

        .ui-jqgrid .ui-jqgrid-pager {
            height: 50px;
        }


        table {
            width: 70%;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #98bf21;
            padding: 3px 7px 2px 7px;
        }

        th {
            text-align: left;
            padding: 5px;
            background-color: #4646ca;
            color: #fff;
        }

        .alt td {
            background-color: #EAF2D3;
        }

        #button {
            background-color: gray;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            width: 90px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .color {
            background-color: white;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>
</head>
@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.Name, "Название")
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.Description, "Описание")
    <br />
    @Html.EditorFor(model => model.Description)
    <br />
    <br />
    @Html.LabelFor(model => model.Price, "Цена")
    <br />
    @Html.EditorFor(model => model.Price)
    <br />
    <br/>
    @Html.LabelFor(model => model.Memory, "Объем(Гб)")
    <br />
    @Html.EditorFor(model => model.Memory)
    <br />
    <br />
    @Html.LabelFor(model => model.Colour, "Цвет")
    <br />
    @Html.EditorFor(model => model.Colour)
    <br />
    <br />
    <input type="submit" value="Добавить" />
}